# Node.js Modules
node_modules

# Build Output
/dist
/build

# Log
*-error.log
*-debug.log

# Misc
.DS_Store
/.idea/cookie-front.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
